* {
  margin: 0;
}
.container{
  display: flex;
}

.item {
  height:200px;
  width: 200px;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.purple {
  background-color: purple;
}

