table {
  margin-top:20px;
}

a {
  font-size: 20px;
  color:purple;
  margin: 20px;
  text-decoration: none;
}

.title {
  height: 35px;
}
.price {
  width: 100px;
  font-weight: 800;
  text-align: center; 
  vertical-align: middle;
}


th {
  background-color: black;
  color: white;
  font-size: 20px;
}

.items {
  background-color: rgba(180, 178, 169, 0.534);
  height: 60px;
}

td {
  padding: 5px 20px;
}

tr:nth-child(even) {
  background-color: white;
}

