body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #303841;
  
}

button {
  width: 55px;
  margin-bottom: 50px;
  height: 55px;
  background-color: #1B242B;
  border: none;
  position: relative;
  outline: none;
}


i {
  font-size: 22px;
  color:white;
}

div {
  letter-spacing: 1px;
  font-family: 'Lato' sans-serif;
  font-weight: 300;
  width: 0px;
  height: 55px;
  position: absolute;
  top: 0;
  left: 55px;
  transition: 0.5s;
  opacity: 0;
  color: #1B242B;
  font-size: 20px;
  line-height: 55px;
  outline: none;
}

.trash > div {
  background-color: #FF002A; 
}
.check > div {
  background-color: #00C47F; 
}

button:hover > div {
  width: 200px;
  opacity: 1;
  color: white;
}



.check:hover > i {
  color: #00C47F;
}

.trash:hover > i {
  color: #FF002A;
}