* {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: yellow;
  width: 100%;
  height: 300px;
  
}

.item {
  background-color: purple;
  width: 100px;
  height: 100px;
  list-style: none;
}


